@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
/* font-family: 'Carter One', cursive; */


body {
    margin: 0;
    padding: 0;
    font-family: 'Carter One', cursive;
    background: #141414;
    color: rgb(172, 165, 156);
    box-sizing: border-box;
}


/* --------HEADER----------------------------------------------------------------------------------------- */


.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: rgb(95, 82, 82);
}

button {
    background: rgb(144, 155, 102);
    border-radius: 10px;
}


a {
    text-transform: none;
    text-decoration: none;
    color: rgb(12, 0, 0);
    font-size: 1.5em;
}

a:hover {
    color: rgb(43, 255, 0);
}

/* ------------------------------------------------------------------------------------------------- */






h1 {
    text-align: center;
}

p {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 840px;
    margin: 0 371px;
}